* {
	box-sizing: border-box;
}

body {
	padding: 0 25%;
}

h2 {
	text-align: center;
	font-size: 40px;
	width: 100%;
	height: 20%;
	color: #395870;
}

form {
	border-radius: 5px;
	width: 910px;
}

input {
	border-radius: 5px;
}

legend {
	font-weight: bold;
	color: rgb(153, 0, 0);
}

fieldset {
	padding-top: 20px;
}

.personal-details {
	margin-bottom: 10px;
	padding: 20px 0;
}

.personal-details label {
	padding-left: 20px;
	color: #395870;
	font-weight: bold;
}

.personal-details .label {
	height: 30px;
	width: 170px;
	padding-left: 10px;
	margin-left: 10px;
}

.personal-details .label01 {
	height: 30px;
	width: 300px;
	padding-left: 10px;
	margin-left: 10px;
}

.contact-details {
	padding: 20px 0;
	margin-bottom: 10px;
}

.contact-details label {
	padding-left: 20px;
	color: #395870;
	font-weight: bold;
	margin-bottom: 20px;
}

.contact-details .label {
	height: 30px;
	width: 210px;
	padding-left: 10px;
	margin-left: 10px;
}

.contact-details .label01 {
	height: 30px;
	width: 400px;
	padding-left: 10px;
	margin-left: 10px;
}

.health {
	padding: 20px 0;
	margin-bottom: 10px;
}

.health label {
	padding-left: 20px;
	color: #395870;
	font-weight: bold;
	margin-bottom: 20px;
}

.health .label {
	height: 30px;
	width: 150px;
	padding-left: 10px;
	margin-left: 10px;
}

.health .label01 {
	height: 30px;
	width: 280px;
	padding-left: 10px;
	margin-left: 10px;
}

.corona input {
	margin-left: 20px;
	font-weight: normal;
}

.terms {
	color: #395870;
}

.terms label {
	padding-left: 20px;
	color: #395870;
	font-weight: bold;
	margin-bottom: 20px;
}

.terms .btn2 {
	background: linear-gradient(#087cdb, #1f7ec7);
	width: 130px;
	height: 60px;
	border-radius: 40px;
	margin-left: 41%;
	margin-top: 20px;
	cursor: pointer;
	color: white;
	font-weight: bold;
}
